div.board {
  width: 50em;
  height: 50em;
  display: grid;
  background-color: lightgray;
  padding: 1em 1em 0 0;

  div.row {
    display: flex;

    div.cell {
      flex-grow: 8;
      display: flex;
      justify-content: center;
      align-items: center;

      div.piece-place {
        height: 85%;
        width: 85%;
      }
    }

    div.index {
      text-transform: capitalize;
    }
  }
}
