div.board {
  width: 50em;
  height: 50em;
  display: grid;

  div.row {
    display: flex;

    div.cell {
      flex-grow: 8;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
